body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    margin: 0;
}

#principal{
    padding-left: 45px;
    padding-top: 10px;
    padding-right: 50px;
}

.hero {
    background-image: url(/Projetofashion/imagens/topo.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero nav ul {
    margin-top: 0px;
    text-align: right;
    background-color: rgba(16, 18, 32, 0.39);

}

.hero nav li {
    display: inline-block;
    list-style: none;
    list-style-position: unset;
    margin-left: 10px;
}

.hero nav a{
    display: block;
    color: #ccc;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5;
}

.hero nav a:hover{
    color: rgba(163, 152, 152, 0.5);
}

.hero2 {
    background-image: url(/Projetofashion/imagens/logo.png);
    background-position: 150px center;
    background-repeat: no-repeat;
    border-top: 1px solid transparent;
}

.alter{
    width: 40%;
    float: right;
    box-sizing: border-box;
    margin-top: 0;
}

.alter1, .alter2 {
    margin-right: 2%;
}
.alter p {
    background: rgba(16, 18, 32, 0.39);
    display: inline-block;
    text-align: center ;
    border: 1px solid rgba(39, 43, 73, 0.39);
    margin: 0;
    padding: 15px;
}

.alter p a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ccc;
    font-size: 15px;
}

.alter p a:hover{
    color: rgba(163, 152, 152, 0.5);
}

.content-portfolio h2{
    text-transform: unset;
    font-size: 30px;
    text-align: center;
    color: black;
    margin: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.content-portfolio {
    font-size: 15px;
    text-align: center;
    color: rgb(105, 103, 103);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

.content-gallery {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}

.card {
    text-align: center;
    width: 32%;
    float: left;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card h2 {
    text-align: center;
    color: rgb(105, 103, 103);
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 22px;
    font-style: italic;
}

.card p {
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    color: rgb(150, 149, 149);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-style: italic;
}

.content-about {
    background-image: url(/Projetofashion/imagens/bg_detalhe.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

.content-about h2{
    padding-top: 80px;
    margin-bottom: 1px;
    margin-left: 100px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}

.content-about header p{
    margin-top: 1px;
    margin-left: 100px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}

.content-about p{
    margin-left: 100px;
    margin-right: 500px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: white;
}

.content-contact{
    text-align: center;
    color: rgba(8, 75, 102, 0.774);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
}

iframe {
    height: 500px;
    width: 100%;
    padding-top: 10px;
    padding-right: 50px;
    border:0;
    

}

footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 80px;
    height: 80%;
    color: rgba(3, 43, 59, 0.774);
    text-shadow: 1px 1px 1px rgba(153, 160, 163, 0.774);
    background: rgb(24, 23, 23);
    letter-spacing: 5px;
}



