#principal {
    background-color: brown;
    background: red;
}
.hero {
    background-color: blue;
}
.hero-content {
    background-color: purple;
}

.content-section {
    background-color: cornflowerblue;
}

.card {
    background-color: darkcyan;
}

footer {
    background-color: gray;
}