header {
    background-color: aqua;
}

nav {
    background-color: blue;
}

section{
    background-color: blueviolet;
}

article{
    background-color: brown;
}

footer{
    background-color: burlywood;
}

aside{
    background-color: cadetblue;
}

div {
    background-color: yellow;
}