@font-face{
    font-family: "opensans";
    src: url(/ProjetoStrada/fonts/OpenSans-Regular.ttf);
}

body{
    font-family: opensans, Arial, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
}

a{
    transition: color .2s linear, border .2s linear; /*em que ocorre a transição, tempo e modo de transição*/
    text-decoration: none;/*retirar sublinhado do link*/
    border-bottom: 1px dotted;/*sem definir cor, sempre pega cor da fonte*/
    color: rgba(0, 255, 255, 0.911);
}

a:hover{
    border-bottom: transparent;
}

p{
    margin: 0 0 2em;
}

h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0 1em;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

sub, sup {
    font-size: 12px;
}

blockquote{
    border-left:  5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 2em;
}

q{
    border-left:  5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 2em;
}

code{
    background: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-family: 'Courier New', Courier, monospace;
    font-size: .9em;
    padding: 0.25em 0.65em;
    color: #929292;
}

pre code{
    display: block;
}

ol, ul {
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}

li{
    padding-left: .5em;
}

.ul-alternate{
    list-style: none;
    padding-left: 0;
}

.ul-alternate li{
    border-bottom: 2px solid #ccc;
    padding-left: 0;
}

.ul-alternate li:last-child{
    border-bottom: transparent; /*tirar borda do ultimo elemento*/
}

.ul-icon{
    list-style: none;
    padding-left: 0;
    list-style: none;
    font-size: 26px;
    color: rgb(28, 163, 163);
}

.ul-icon li{
    padding-left: 0;
    display: inline-block;
    padding: .5em;
}

.ul-icon a{
    border-bottom: transparent;
}

.ul-icon a:hover{
    transition: color 2s linear;
    color: rgb(5, 95, 95)
}

.row{
    overflow: auto;

}

.col-2{
    width: 50%;
    float: left;
}

.buttom_default{
    background-color: #49bf9d;
    color: white;
    border: 2px solid #49bf9d;
    padding: .75em 2.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block;
}

.buttom_default:hover{
    transition: background-color .7s linear;
    background-color: rgb(5, 95, 95)
}

.buttom_default-stroke{
    background-color: white;
    color: inherit;
    border-color: #efefef ;
}

.buttom_default-stroke:hover{
    transition: background-color .7s linear;
    background-color: rgba(132, 209, 209, 0.205)
}

.buttom_default-small{
    font-size: .65em;
}

.buttom_default-full{
    text-align: center;
    display: block;
}

.table{
    width: 100%;
    margin: 0 0 2em 0;
    text-align: left;
    border-collapse: collapse;
}

.table th{
    background: #ddd;
    padding: .75em;
}

.table td{
    padding: .75em;
}

.table tbody tr:first-child td{
    border-top: 2px solid #ccc;
}

.table tbody tr:last-child td{
    border-top: 2px solid #ccc;
}

.table tbody tr:nth-child(1) td, .table tbody tr:nth-child(3) td, .table tbody tr:nth-child(5) td{
    background: #eee;
}

.table-alternate tbody tr:nth-child(odd) td{
    background: #9494943b;
}

.table-alternate tbody td, .table-alternate  tbody tr:last-child td, .table-alternate  tbody tr:first-child td{
    border: 1px solid #9494943b;

    
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.main-header-title{
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;

}

.main-header-link{
    color: inherit; /*cor erdada da cor do h1 por errança*/
}

.main-header-link:hover{
    color: rgba(0, 255, 255, 0.322);
    border-color: transparent;
}

.main-header-title strong{
    color: rgba(255, 255, 255, .7);
    font-weight: normal;
}

.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}